<h1>crie sua questão</h1>
<form action="/addquest" method="post">
    <label>enunciado</label>
    <input type="text" id="enunciado" name="enunciado" placeholder="enunciado">
    <br>
    <label>resposta</label>
    <input type="text" id="resposta" name="resposta" placeholder="resposta">
    <br>
    <label>codigo do usuario</label>    
    <input type="text" id="cod_usuario" name="cod_usuario" placeholder="codigo do usuario">
    <br>
    <label>codigo do assunto</label>
    <input type="text" id="cod_assunto" name="cod_assunto" placeholder="codigo do assunto">
    <br>
    <button type="submit">Criar</button>
</form>