<h1 class="title">Questão</h1>
<p><b>Enunciado:</b> {{questao.enunciado}}</p>
<p><b>Resposta:</b> {{questao.resposta}}</p>
<a href="/listquest"><button>Voltar à lista</button></a>
<a href='/del/{{questao.cod_questao}}'><button>deletar</button></a>
<a href='/edit/{{questao.cod_questao}}'><button>editar</button></a>