<h1>Cadastre-se</h1>
<form action="/adduser" method="post">
    <label>nome</label>
    <input type="text" id="name" name="nome" placeholder="nome">
    <br>
    <label>email</label>
    <input type="email" id="email" name="email" placeholder="email">
    <br>
    <label>senha</label>    
    <input type="password" id="password" name="password" placeholder="senha">
    <br>
    <label>repita a senha</label>
    <input type="password" id="password2" name="password2" placeholder="confirme sua senha">
    <br>
    <button type="submit">Cadastra-se</button>
    <a href="/login">login</a>
</form>
