<h1>Lista de Usuários</h1>
<ul>
    {{#each usuarios}}
        <a href="/register"><div>
            <li>{{this.dataValues.nome}} - {{this.dataValues.email}}</li>
            <a href='/del/{{this.dataValues.cod_usuario}}'><button>deletar</button></a>
        </div></a>
    {{/each}}
</ul>

